flows.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Sensor Data Flow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "65f35da3e7cfe400",
        "type": "mqtt-broker",
        "name": "Mosquitto",
        "broker": "mosquitto",
        "port": 1883,
        "clientid": "nodered-client",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true
    },
    {
        "id": "influxdb2-config",
        "type": "influxdb",
        "hostname": "influxdb",
        "port": 8086,
        "protocol": "http",
        "database": "database",
        "name": "influxdb2",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://influxdb:8086",
        "timeout": 10,
        "rejectUnauthorized": true,
        "token": "mytoken123",
        "org": "sensors"
    },
    {
        "id": "mqtt-joystick",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "Joystick Input",
        "topic": "sensor/joystick",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "65f35da3e7cfe400",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 140,
        "wires": [
            ["json-parse-joystick"]
        ]
    },
    {
        "id": "json-parse-joystick",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Parse Joystick",
        "func": "try {\n    let payload = typeof msg.payload === 'string' ? JSON.parse(msg.payload) : msg.payload;\n    msg.payload = {\n        measurement: \"joystick\",\n        tags: {type: \"analog\"},\n        fields: {x: payload.x, y: payload.y},\n        timestamp: Date.now()\n    };\n    return msg;\n} catch (e) {\n    node.warn(\"Joystick parse error: \" + e);\n    return null;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 140,
        "wires": [
            ["influx-write"]
        ]
    },
    {
        "id": "mqtt-buttons",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "Buttons Input",
        "topic": "sensor/buttons",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "65f35da3e7cfe400",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 220,
        "wires": [
            ["json-parse-buttons"]
        ]
    },
    {
        "id": "json-parse-buttons",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Parse Buttons",
        "func": "try {\n    let payload = typeof msg.payload === 'string' ? JSON.parse(msg.payload) : msg.payload;\n    msg.payload = {\n        measurement: \"buttons\",\n        tags: {type: \"digital\"},\n        fields: {btn1: payload.btn1, btn2: payload.btn2},\n        timestamp: Date.now()\n    };\n    return msg;\n} catch (e) {\n    node.warn(\"Buttons parse error: \" + e);\n    return null;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 220,
        "wires": [
            ["influx-write"]
        ]
    },
    {
        "id": "influx-write",
        "type": "influxdb out",
        "z": "f6f2187d.f17ca8",
        "influxdb": "influxdb2-config",
        "name": "Write to InfluxDB",
        "measurement": "",
        "precision": "",
n": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "sensors",
        "bucket": "sensor_data",
        "x": 550,
        "y": 180,
        "wires": []
    },
    {
        "id": "debug-joystick",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "Debug Joystick",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 350,
        "y": 80,
        "wires": []
    },
    {
        "id": "debug-buttons",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "Debug Buttons",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 350,
        "y": 280,
        "wires": []
    }
]